venv
.env
SteamFetch.js
.env.test
 .vscode/
__init__.py
__pycache__/__init__.cpython-313.pyc
tests/__init__.py
tests/__pycache__/__init__.cpython-313.pyc
tests/__pycache__/test_app.cpython-313.pyc
__pycache__
Procfile